@page
@model RazorTees.Pages.Apparels.IndexModel

@{
    ViewData["Title"] = "My Items";
}
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>

<div class="container">
    <h1 class="apparel-header">My Items</h1>


    <a asp-page="Create"><span class="add-item-Link">Add Items</span></a>
    <p class="circle-with-plus">+</p>
</div>

@foreach (var item in Model.Tees) {
  <body>
    
    <div class = "card-wrapper">
      <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
          <div class = "img-display">
            <div class = "img-showcase">
              <img src = "~/lib/resources/tshirt-img.PNG" alt = "shirt image">
              
            </div>
          </div>
          
          
        </div>
        <!-- card right -->
        <div class = "product-content">
          <h4 class = "product-title">@Html.DisplayFor(modelItem => item.Product)</h4>
          
          

          <div class = "product-price">
            <p class = "new-price"><span>₱</span>@Html.DisplayFor(modelItem => item.Price)</p>
            
          </div>
          <hr>
          <div class = "product-detail">
            <h2 class="about-item">about this item: </h2>
            
            <ul>
              <li>Color: <span>@Html.DisplayFor(modelItem => item.Color)</span></li>
              <li>Stock: <span>@Html.DisplayFor(modelItem => item.Quantity)</span></li>
              <li>Sizes: <span>@Html.DisplayFor(modelItem => item.Sizes)</span></li>
              <li>Brand: <span>@Html.DisplayFor(modelItem => item.Brand)</span></li>
              <li>Design: <span>@Html.DisplayFor(modelItem => item.Design)</span></li>
              <li>Neckline: <span>@Html.DisplayFor(modelItem => item.Neckline)</span></li>
              <li>Material: <span>@Html.DisplayFor(modelItem => item.Material)</span></li> 
            </ul>
          </div>
          <div id="buttons">
              <a asp-page="./Edit" asp-route-id="@item.ID" ><button class="button-36" role="button"><i class="fa fa-pencil-square-o"></i>  Edit</button></a> 
              <a asp-page="./Details" asp-route-id="@item.ID" ><button class="button-36" role="button"><i class="fa fa-file-text"></i>  Details</button></a> 
              <a asp-page="./Delete" asp-route-id="@item.ID" ><button class="button-36" role="button"><i class="fa fa-trash"></i>  Delete</button></a> 
          </div>
        </div>
      </div>
    </div>

    <script src="script1.js"></script>
  </body>
 }